<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
    <link th:href="@{/vector/bootstrap/bootstrap/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/vector/bootstrap/bootstrap/css/bootstrap-theme.css}" rel="stylesheet"/>
    <script th:src="@{/vector/bootstrap/bootstrap/js/bootstrap.js}"></script>
    <script th:src="@{/vector/jquery-1.11.3.js}"></script>
    <link th:href="@{/css/security_style.css}" rel="stylesheet"/>

</head>
<body class="background">
<div class="container-fluid"></div>
    <div class="text-center ">
        <div class="center-page">
            <div th:if="${param.error}">
                <p>
                    <h1 style="color: white">Invalid username and password</h1>
                </p>
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>

            <form th:action="@{/login}" method="post">
                <div><input class="panel panel-primary btn-lg" type="text" name="username" placeholder="User name"/></div>
                <div><input class="panel panel-default btn-lg" type="password" name="password" placeholder="Password"/></div>
                <div><input class="btn btn-default btn-lg" type="submit" value="Sign In"/></div>
            </form>
        </div>
    </div>
</body>
</html>